.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
.ant-card {
  margin: 5px;
  min-width: 250px;
  z-index: 10;
  width: 60px;

}
.ant-card-body h3{
  word-break: break-all;
}
.ant-layout-sider-zero-width-trigger{
  z-index:50;
}


#sysLogForm .login-form {

  width: 100%;
}
#sysLogForm .login-form-forgot {
  float: right;
}
#sysLogForm .login-form-button {
  width: 100%;
}
